
.wrapper {
    width: 100%;
    height: 100%;
	position: absolute;
	overflow: hidden;
}

.wave {
    width: 2900px;
    height: 3100px;
    position: absolute;
    top: -2400px;
    left: -800px;
    border-radius: 42%;
    background: var(--primary);
    animation: wave 40s infinite linear;
}

@keyframes wave {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}