
#mainLayout {
	display: grid;
	width: 100%;
    position: absolute;
	height: 100vh;
	grid-template-areas: "home mirrorSpecs widgets setup";
}

#mainLayout.home {
	grid-template-columns: 85% 5% 5% 5%;
}
#mainLayout.mirrorSpecs {
	grid-template-columns: 5% 85% 5% 5%;
}
#mainLayout.widgets {
	grid-template-columns: 5% 5% 85% 5%;
}
#mainLayout.setup {
	grid-template-columns: 5% 5% 5% 85%;
}
#mainLayout #home {
	grid-area: home;
}
#mainLayout #mirrorSpecs {
	grid-area: mirrorSpecs;
}
#mainLayout #widgets {
	grid-area: widgets;
}
#mainLayout #setup {
	grid-area: setup;
}
#mainLayout #homeLink,
#mainLayout #mirrorSpecsLink,
#mainLayout #widgetsLink,
#mainLayout #setupLink {
	text-decoration: none;
	position: relative;
	justify-content: center;
	display: flex;
	height: 100%;

	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#mainLayout #homeLink {
	background-image: url("../../images/guestImages/home.jpg");
}
#mainLayout #mirrorSpecsLink {
	background-image: url("../../images/guestImages/mirrorSpecs.jpg");
}
#mainLayout #widgetsLink {
	background-image: url("../../images/guestImages/widgets.jpg");
}
#mainLayout #setupLink {
	background-image: url("../../images/guestImages/setup.jpg");
}
#mainLayout #homeLink p,
#mainLayout #mirrorSpecsLink p,
#mainLayout #widgetsLink p,
#mainLayout #setupLink p {
	color: var(--white);
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	/* Safari */
	-webkit-transform: rotate(180deg);
	/* Firefox */
	-moz-transform: rotate(180deg);
	/* IE */
	-ms-transform: rotate(180deg);
	/* Opera */
	-o-transform: rotate(180deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#mainLayout #homeLink .darkLayer,
#mainLayout #mirrorSpecsLink .darkLayer,
#mainLayout #widgetsLink .darkLayer,
#mainLayout #setupLink .darkLayer {
	background-color: rgb(0 0 0 / 50%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
	position: absolute;
	overflow: hidden;
}

.wave {
	width: 2500px;
    height: 2500px;
    position: absolute;
    top: -2200px;
    left: -600px;
    border-radius: 42%;
    background: var(--primary);
    animation: wave 40s infinite linear;
}

@keyframes wave {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

nav{    
	display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
nav img{
    height: 50px;
}